.nav_type-top {
  background-color: $color__secondary;
  color: #fff;
  padding: 10px 0px;
  & a {
    color: inherit;
    font-size: 32px;

    @include mediaquery_size_m(){
      font-size: 16px;

    }
    &:hover {
      color: inherit;
    }
  }
}

.nav_type-main {
  padding: 10px 0px;
  background-color: $color__primary;
}


.navbar_type-dropdown {
    background-color: $color__primary !important;
    margin-top: 0px  !important;
    border-top: 1px solid $color__secondary !important;
}
