.card__title{
    position: relative;
    padding: 15px 0px;
    color: inherit;
    &::after{
        content: "";
        background: #eee;
        width: 50px;
        left: 0;
        height: 5px;
        position: absolute;
        bottom: 0;
        margin-left: 0px;

    }
    &::before{
        content: "";
    background: $color__secondary;
    width: 50px;
    left: 0;
    height: 5px;
    position: absolute;
    bottom: 0;
    margin-left: 50px;

    }
}