.section_type-hero {
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    background: #05385a;
    z-index: 0;
    opacity: 0.9;
  }
  & * {
    color: #fff;
  }
  & h1 {
    font-size: 26px;

    @include mediaquery_size_m() {
      font-size: 54px;
    }
  }
}
.section_type-normal {
  color: #fff;
  position: relative;
  margin-top: 120px;
  background-position: center;
  background-size: cover;
  @include mediaquery_size_s() {
    margin-top: 77px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    background: #05385a;
    z-index: 0;
    opacity: 0.9;
  }
  & * {
    color: #fff;
  }
}

.section_type-cta {
  padding: 45px;
  & h2 {
    color: $color__primary;
  }
  & a {
    z-index: 1;
    position: relative;
    color: $color__secondary;
  }
  &.section_theme-blue {
    & h2 {
      color: #fff;
    }
    & a {
      z-index: 1;
      position: relative;
      color: #fff;
    }
  }
}

.section_type-footer {
  background-color: $color__primary;
  color: #fff;
  padding: 10px 0px;
}
