/*
* Color Royalblue
* Blue color shades
*/

$color__royalblue: #307fe2;

$color__royalblue_1: #1e477b;

$color__royalblue_2: #2b67b4;

$color__royalblue_3: #307fe2;

$color__royalblue_4: #5897e7;

$color__royalblue_5: #80b0ec;

$color__royalblue_6: #a8c8f1;

$color__royalblue_7: #d0e1f6;
