/*--------------- Colors -----------------*/
@import "color/__apple/color__apple";
@import "color/__midnight/color__midnight";
@import "color/__royalblue/color__royalblue";
@import "color/__sunflower/color__sunflower";
@import "color/__main/color__main";
@import "color/__secondary/color__secondary";
/*--------------- Dimmensions -----------------*/
@import "dimension/_size/dimension_size_l";
@import "dimension/_size/dimension_size_m";
@import "dimension/_size/dimension_size_s";
@import "dimension/_size/dimension_size_xl";
@import "dimension/_size/dimension_size_xs";
/*--------------- Fonts -----------------*/
@import "font/_type/font_type_body";
@import "font/_type/font_type_heading";
/*--------------- Buttons -----------------*/

// gradient
@import "gradient/__midnight";
