.button_type-hero{
    background-color: #12679b;
    color: #fff;
    border-radius: 5px;

    // border: 1px solid;
    padding: 10px 20px;
    box-shadow: 0px 22px 20px -10px #000;
    display: inline-block;
    transition: 500ms;
    font-size: 32px;
    // animation: bounce 2s infinite;
    // animation-duration: 1s;


    &:hover{
        text-decoration: none;
        box-shadow: 0px 10px 20px -10px #000;
        background-color: #fff;
        color: $color__primary;
        transition: 500ms;
    }
}
.button_type_toggle {
    background-color: transparent  !important;
    color: #fff  !important;
    border: none  !important;
}