/*
* Color Apple
* Green color shades
*/

$color__apple: #48a23f;

$color__apple_1: #244a25;

$color__apple_2: #3a7b38;

$color__apple_3: #48a23f;

$color__apple_4: #6bb364;

$color__apple_5: #8ec58a;

$color__apple_6: #b1d6af;

$color__apple_7: #d5e8d5;
