.img-border {
  position: relative;
  &::before {
    border: 5px solid rgba(255, 255, 255, 0.2);
    bottom: 14px;
    content: "";
    left: 14px;
    position: absolute;
    right: 14px;
    top: 14px;
  }
  & img {
    width: 100%;
  }
}

.wp-block {
  max-width: unset !important;
}

.iframe iframe {
  width: 100% !important;
}

// @-webkit-keyframes bounce {
// 	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
// 	40% {-webkit-transform: translateY(-30px);}
// 	60% {-webkit-transform: translateY(-15px);}
// }

// @-moz-keyframes bounce {
// 	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
// 	40% {-moz-transform: translateY(-30px);}
// 	60% {-moz-transform: translateY(-15px);}
// }

// @-o-keyframes bounce {
// 	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
// 	40% {-o-transform: translateY(-30px);}
// 	60% {-o-transform: translateY(-15px);}
// }
@keyframes bounce {
  // 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  // 40% {transform: translateY(-30px);}
  // 60% {transform: translateY(-15px);}
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.xdx {
  background-color: #092e44;
}

.uk-dotnav .uk-active a {
  background-color: #fff;
  border-color: #fff;
}

.uk-dotnav a {
  background-color: #12679b;
  border-color: #12679b;
}

.full-width {
  & .uk-container {
    padding: 0px 22px;
  }
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.xsx {
  background-color: rgb(9, 46, 68);
  padding: 10px;
  top: 52px !important;
}
.xsx a {
  position: relative;
  color: #fff !important;
  min-height: unset !important;
  padding: 5px 0px !important;
  display: inline-block !important;
  &::before {
    content: "";
    background: #068daf;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
  }
  &:hover {
    &::before {
      width: 100%;
      transition: all 0.5s ease-in-out 0s;
    }
  }
}


.scroll_button {
  display: inline-block;
  z-index: 9;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  bottom: 25px;
  position: absolute;
  width: 100%;
}