/*
* Color Sunset
* Red color shades
*/

$color__sunset: #f9423a;

$color__sunset_1: #6b2323;

$color__sunset_2: #b73735;

$color__sunset_3: #f9423a;

$color__sunset_4: #f96660;

$color__sunset_5: #f98b87;

$color__sunset_6: #f9afad;

$color__sunset_7: #d9d4d4;
