/*
* Color Sunflower
* Yellow color shades
*/

$color__sunflower: #ffc600;

$color__sunflower_1: #d19000;

$color__sunflower_2: #ffb500;

$color__sunflower_3: #ffc600;

$color__sunflower_4: #fdd032;

$color__sunflower_5: #fcda64;

$color__sunflower_6: #fbe596;

$color__sunflower_7: #fff3cb;

$color__sunflower_list_dark: $color__sunflower_1 $color__sunflower_2 $color__sunflower_3 $color__sunflower_4 ;

$color__sunflower_list_light: $color__sunflower_5 $color__sunflower_6 $color__sunflower_7;
