.card_theme-white{
    box-shadow: 5px 8px 30px 0 rgba(31, 35, 37, 0.08);
    background-color: #fff;
    color: $color__primary;
    & .card__title span{
        color: $color__secondary;
    }

}
.card_theme_primary{
    background-color: $color__primary;
    color: #fff;
    & .card__title span{
        color: $color__secondary;
    }
    & h4{
        color: #fff;
    }
    & i{
        min-width: 35px;
    }
    
}